@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500;600;700;900&display=swap');

body {
  margin: 0;
  padding: 0;
}
body * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}

button {
  border: 0;
  background: inherit;
  cursor: pointer;
}

:root {
  --primary-color: #F34886;
  --primary-color-type2: #F34867;
  --secondary-color: #813279;
  --secondary-color-type2: #722453;
}